RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([0-9]*)?$ index.php?controller=$1&action=$2&id=$3 [NC,L]
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([0-9]*)?/?([0-9]*)?$ index.php?controller=$1&action=$2&id=$3&idAuthor=$4 [NC,L]
